body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 20px;
}
textarea {
  width: 100%;
  height: 80px;
}
button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}
img {
  width: 100%;
  margin-top: 15px;
}
